.Navbar {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.NavbarTitle {
    width: 29em;
    height: 50px;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    margin-bottom: 3px;
    text-decoration: none;
    color: black;
}

.NavbarTitle:hover {
    border-bottom: 3px solid black;
    transform: translateY(-2px);
    transition: 0.15s ease-in-out;
}

.NavbarLinks {
    display: flex;

    width: 100%;

    justify-content: end;
    align-self: center;
}

.NavbarLink {
    height: 40px;
    border-bottom: 3px solid rgba(0, 0, 0, 0);

    text-decoration: none;
    color: black;
    margin-left: 12px;
    transition: 0.15s ease-in-out;
}

.NavbarLink:hover {
    border-bottom: 3px solid black;
    transform: translateY(-2px);
}
