hr {
    border-width: 1px;
    color: rgba(0, 0, 0, 0.4);
}

.App {
    position: absolute;
    top: 0;
    left: 0;

    width: calc(100vw - 160px);
    height: auto;
    min-height: 100vh;

    padding-left: 80px;
    padding-right: 80px;
    padding-top: 8px;
    background-color: rgb(255, 253, 208);
    font-family: 'Roboto', sans-serif;
}

.AppBody {
    display: flex;
    font-weight: 0;
}
