/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Utilities */

/* Site Wide */

/* App */

.app {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* background-color: #FFFDD0; */
}

/* App Body */

.app-body {
    padding: 80px;
}

/* LOGO */

.logo {
    font: 40px;
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
}

.navbar-links a {
    color: #fff;
}

.navbar-menu {
    display: flex;
    gap: 1em;
    font-size: 12px;
}

.navbar-menu li {
    padding: 5px 14px;
}

.navbar-menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.navbar-menu-services {
    position: relative;
}

.navbar-menu-services-dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 35px;
}

.navbar-menu-services-dropdown li + li {
    margin-top: 10px;
}

.navbar-menu-services-dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}


.navbar-menu-services-dropdown li:hover {
    background-color: #4c9e9e;
}

.navbar-menu-services:hover .navbar-menu-services-dropdown {
    display: block;
}

/* Home Page */

.home {
}

/* Markdown Page */

.markdown-page {
}

.markdown-page-title {
}
